name: Deploy Staging Infrastructure

on:
  push:
    branches:
      - main
    paths:
      - '**.tf'

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ se-crets.AWS_SECRET_ACCESS_KEY }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Generate Random Suffix
      id: random
      run: echo "suffix=$(head /dev/urandom | tr -dc a-z0-9 | head -c 8)" >> $GITHUB_OUTPUT

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan -var="random_suffix=${{ steps.random.outputs.suffix }}"

    - name: Terraform Apply
      run: terraform apply -auto-approve -var="random_suffix=${{ steps.random.outputs.suffix }}"[
